/* HOME CSS */

.home {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 50px;
}

.icons {
    margin: 30px 0;
    &__list{
        display: flex;
    }
    &__link{
        display: inline-block;
        margin-left: 15px;
        color: set-text-color($primary-color);
        &:hover {
            color: $secondary-color;
            @include easeOut;
        }
    }
}

/* Home responsive */

@include tablet {
    .home {
        text-align: center;
        .namebox__name {
            font-size: 3rem;
        }
    }
    .icons__list {
        justify-content: center;
    }
}

@include md-mobile {
    .home {
        .namebox__name {
            font-size: 2rem;
        }
        .namebox__description{
            font-size: 0.75em;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
}