
/* Menu Button */
.menu-btn {
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 3;
    @include easeOut;
    &.rotate{
        .btn__line {
            &--1{
                transform: rotate(45deg) translate(6px, 6px);
            }
            &--2 {
                display: none;
            }
            &--3 {
                transform: rotate(-45deg);
            }
        }
        transform: rotate(180deg);
        @include easeOut;
    }
    .btn__line {
        width: 30px;
        height: 3px;
        margin-bottom: 5px;
        background-color: #fff;
        @include easeOut;
    }
}

/* Menu CSS */
.menu {
    // position: absolute;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    position: fixed;
    z-index: 2;
    top: 0;
    &__branding,
    &__nav {
        flex-basis: 50%;
        z-index: 1;
        @include easeOut;
    }
    &__branding {
        background-color: rgba(lighten($primary-color, 5), 0.9);
        transform: translate3d(0, 100%, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__nav {
        background-color: rgba(darken($primary-color, 5), 0.9);
        transform: translate3d(0, -100%, 0);
        &-list {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 100%;
        }
        &-item {
            transform: translate3d(600px, 0, 0);
            @include easeOut;
            /* delay each nav item 0.1s */
            @for $x from 1 through 4 {
                &:nth-child(#{$x}){
                    transition-delay: $x * 0.1s;
                }
            }

        }
        &-link {
            color: set-text-color($primary-color);
            display: inline-block;
            height: 70px;
            line-height: 70px;
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            &.active {
                color: $secondary-color;
            }
            &:hover {
                color: $secondary-color;
                @include easeOut;
            }
        }
    }
    
    &.show {
        .menu__branding,
        .menu__nav {
            transform: translate3d(0, 0, 0);
        }
        .menu__nav-item {
            transform: translate3d(0,0,0);
        }
    }
}

/* Menu responsive */

@include tablet {
    .menu{
        display: block;
        &__branding {
            height: 30vh;
            transform: translate3d(-100%, 0, 0);
            background-color: rgba(lighten($primary-color, 5), 0.7);
            @include easeOut;
        }
        &__nav {
            height: 70vh;
            transform: translate3d(100%, 0, 0);
            @include easeOut;
        }
        &.show {
            flex-direction: column;
            &__branding {
                transform: translate3d(0, 0, 0);
            }
            &__nav {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}


