.namebox {
    &__name{
        margin: 10px 0;
        font-size: 5.5rem;
        font-weight: 500;
    }
    &--secondary-text{
        color: $secondary-color;
    }
    &__description {
        background-color: lighten($primary-color, 11);
        margin: 20px 0;
        padding: 0 20px;
        font-size: 1.3em;
        font-weight: 400;
        height: auto;
        line-height: 2.5rem;
    }
}

