.namebox {
    &__name{
        margin: 10px 0;
        font-size: 5.5rem;
        font-weight: 500;
    }
    &--secondary-text{
        color: $secondary-color;
    }
    &__description {
        background-color: lighten($primary-color, 11);
        margin: 20px 0;
        padding: 0 20px;
        font-size: 1.3em;
        font-weight: 400;
        height: auto;
        line-height: 2.5rem;
    }
}


@include tablet {
    .namebox {
        text-align: center;
        &__name {
            font-size: 3rem;
        }
        &__description {
            font-size: 1.2rem;
        }
    }  
}

@include sm-mobile {
    .namebox__name {
        font-size: 2rem;
    }
    .namebox__description {
        font-size: .75rem;
    }
}

